* {
  font-family: sans-serif;
}

body {
  background-color: black;
}

header {
  background-color: #1F2937;
  font-style: italic;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0% 12% 0% 12%;
}

.dark {
  background-color: #1F2937;
  margin: 0% 12% 0% 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.placeholder {
  align-self: center;
  flex: 1;
  padding: 100px;
}

.logo {
  margin-right: auto;
  margin-left: auto;
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma;
}

.links {
  list-style: none;
  display: flex;
  margin-right: auto; 
}

a.link {
 margin-right: 2rem;
}

.links li a{
  text-decoration: none;
  color: #F9FAF8;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 100px;
  margin-bottom: 110px;
  padding-left: 30px;
  margin-left: 200px;
}

.awesome {
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;
  width: 500px;
  padding-bottom: 10px;
}

.placeholder {
  color: #F9FAF8;
  background-color: grey;
  margin-right: 230px;
  width: 300px;
  display: flex;
  justify-content: center;
}

.this, .logo {
  color: #F9FAF8;
  width: 455px;
  padding-bottom: 15px;
}

button {
  background-color: #3882f6;
  border: none;
  width: 7em;
  color: #F9FAF8;
  border-radius: 5px;
}

.white {
  background-color:#F9FAF8;
  margin: 0% 12% 0% 12%;
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}

.white-header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.white-img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.white-img img{
  border: 4px solid #3882f6;
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.image {
  display: flex;
  flex-direction: column;
  max-width: 170px;
  justify-content: center;
}

.image div {
  justify-self: center;
  padding-top: 10px;
  justify-self: center;
}

.grey {
  background-color: #e5e7eb;
  margin: 0% 12% 0% 12%;
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
}

.thor-quote {
  max-width: 900px;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  align-self: center;
}

.thor {
  font-weight: bold;
  font-size: 25px;
  align-self: center;
  margin-left: 35%;
}

.white-bottom {
  background-color:#F9FAF8;
  margin: 0% 12% 0% 12%;
  padding-top: 100px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.action {
  color: #F9FAF8;
  width: 1200px;
  height: 160px;
  background-color: #3882f6;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action {
  font-size: 20px;
  font-weight: bold;
  margin-right: 600px;
}

.action-text button {
  border: 2px solid #F9FAF8;
  border-radius: 7px;
  font-size: 15px;
  margin-left: 200px;
  padding: 5px;
}

footer {
  background-color: #1F2937;
  margin: 0% 12% 0% 12%;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #F9FAF8;
  display: flex;
  justify-content: center;
}









